.chat-side {
  background-color: #253141;
  height: 100vh;
  width: 300px;
  .side-header {
    height: 100px;
    width: 300px;
    background-color: #251341;
    padding: 0 20px;
    display: flex;
    align-items: center;
    .side-header__box {
      color: #d8d8d8;
      display: flex;
      .user--name__box{

      }


      
    }
  }


}